> Quotes

# h1

## h2

### h3

__[buka google](https://google.com)__

__is this bold?__

In [1]:
print(123+1)

124

In [2]:
print(type(123))

<class 'int'>

In [3]:
print(4.2)

4.2

In [4]:
print(type(4.2))

<class 'float'>

In [5]:
print("Hello, World!")

Hello, World!

In [6]:
print(type("Hello, World!"))

<class 'str'>

In [9]:
print("s" in "senin")

True

In [10]:
print("c" in "selasa")

False

In [11]:
n = 250

In [12]:
print (n)

250

In [13]:
today = "Monday"

In [14]:
print (today in ["Sunday", "Monday", "Tuesday"])

True

In [15]:
a = b = c = 300

In [16]:
print (a > b)

False

In [18]:
print (a)

300

In [19]:
x = "Nadia"

In [20]:
y = "Putri"

In [21]:
print ( x + " meets " + y + " today ")

Nadia meets Putri today

In [23]:
z = 4.30

In [25]:
print ( x + "meets" + y + "at" + z.tostr)

AttributeError: 'float' object has no attribute 'tostr'

In [26]:
age = 10

In [27]:
age1 =  2

In [59]:
if (age != 12):
    print ("benar")
else:
    print ("salah")

benar

In [29]:
print (age ** 2)

100

In [30]:
print (age / 3)

3.3333333333333335

In [31]:
print (age // 3)

3

In [32]:
print (age % 2)

0

In [33]:
print (age % 3)

1

In [34]:
print (age % 4)

2

In [35]:
print (age == age1)

False

In [36]:
print (age != age1)

True

In [37]:
print (age < age1)

False

In [38]:
s = 'foo'

In [39]:
t = 'bar'

In [40]:
u = 'faz'

In [41]:
print (s + t + u)

foobarfaz

In [42]:
print (s * 2)

foofoo

In [43]:
firstname = "Nadia"

In [44]:
lastname = "Putri"

In [45]:
print ("Hi, " + firstname + " " + lastname)

Hi, Nadia Putri

In [46]:
print ("s" in firstname)

False

In [50]:
print ("i" in lastname)

True

In [52]:
print ("i" in firstname and lastname)

Putri

In [53]:
print (firstname.upper())

NADIA

In [60]:
mark = [100, 85, 70]

In [61]:
print (mark[0])

100

In [62]:
print (mark[2] + mark[1])

155

In [63]:
print (mark[0] / 2 )

50.0

In [64]:
print (mark [0:1])

[100]

In [65]:
fruit = ["Apple", "Mangoes", "Watermelon"]

In [67]:
print (fruit + ["Banana"])

['Apple', 'Mangoes', 'Watermelon', 'Banana']

In [68]:
print(len(fruit))

3

In [69]:
if (fruit == 3):
    print ("Correct!")
else:
    print ("Wrong!")

Wrong!

In [70]:
if (len(fruit) == 3):
    print ("Correct")
else:
    print ("Wrong!")

Correct

In [71]:
fruit [0] = "Banana"

In [72]:
print (fruit)

['Banana', 'Mangoes', 'Watermelon']

In [73]:
del(fruit[0])

In [74]:
print(fruit)

['Mangoes', 'Watermelon']

In [77]:
mark2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
print (mark2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
mark2[1:4] = 1.1, 2.2, 3.3, 4.4, 5.5

In [80]:
print(mark2)

[1, 1.1, 2.2, 3.3, 4.4, 5.5, 5, 6, 7, 8, 9]

In [81]:
t = ('foo', 'bar', 'baz', 'qux')

In [82]:
print (t)

('foo', 'bar', 'baz', 'qux')

In [83]:
(s1, s2, s3) = ('foo', 'bar', 'baz')

In [84]:
print (s2)

bar

In [86]:
print (s3)

baz

In [89]:
idcard = {
    'name' : 'Nadia',
    'dob' : '9 Sep 1995',
    'address' : 'Jakarta'
}

In [90]:
print (idcard['name'])

Nadia

In [91]:
idcard ['id_no'] = 1212121

In [92]:
print (idcard)

{'name': 'Nadia', 'dob': '9 Sep 1995', 'address': 'Jakarta', 'id_no': 1212121}

In [93]:
print (idcard.items())

dict_items([('name', 'Nadia'), ('dob', '9 Sep 1995'), ('address', 'Jakarta'), ('id_no', 1212121)])

In [94]:
print (idcard.values())

dict_values(['Nadia', '9 Sep 1995', 'Jakarta', 1212121])

In [95]:
print (idcard.keys())

dict_keys(['name', 'dob', 'address', 'id_no'])

In [97]:
person1 = 10
person2 = 15
person3 = 20

(person1 >= person2 and person3 > person2)

False